.app-bg {
  background-image: linear-gradient(to right, #BA2F39, #763681);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards-container {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 80%;
  position: relative;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 12rem;
  height: 100%;
  top: 0rem;
  padding-top: 2rem;
  padding-bottom: 5.5rem;
  box-sizing: border-box;
  left: calc(50% - 6rem);
}

.btn__roll-dice {
  margin-top: auto;
}

.btn__hold {
  margin-top: 1.5rem;
}